<div class="message-header">
	<span class="message-page-title">
		<span class="ui-icons ui-icons-position" id="messages-icon"></span>
		<span class="ui-icons-title">Messages</span>
	</span>
	<button id="btn-send-message" class="blue-small">+ New Message</button>
</div>
<div id="conversations-container">
	<div id="conversation-box-proto" class="conversation-box" style="display: none">
		<div class="conversation-friend-picture">
			<img src="">
		</div>
		<div class="conversation-info">
			<span class="friend-name"></span>
			<p class="message-preview"></p>
		</div>
		<div class="conversation-last-update">
			<span class="conversation-date"></span>
			<span class="remove-button"></span>
		</div>
	</div>

</div>
<div id="conversations-empty">
	There's no message in your message box now. 
	<a id="compose-message-link" href="#">Compose a new message.</a>
</div>
<script type="text/javascript" charset="utf-8">
	var surface = "message_box.conversation_view";
	var viewer = {
		name: "<%= current_user.username%>",
		token: "<%= current_user.id%>",
		picture: "<%= current_user.picture %>"
	}
</script>
