<div id="page-container" class="clearfix">
	<div class="page-left">
		<span class="page-left-header">
			<span class="ui-icons ui-icons-position" id="all-notification-icon"></span>
			<span class="ui-icons-title">All Notifications</span>
		</span>


		<div class="notification-feed"> 
			<div class="notification-date">Today</div> 
			<div ntf-log-attr-page="12" class="notification-detail"> <a user="1" href="http://prizes.org/Yangkit" logdata="event_type=notification_click&amp;notification_template_name=12">yangkit</a> is now following you. <span class="timeago">07:06:55 PM</span></div> 
		</div> 
		<div class="notification-feed"> 
			<div class="notification-date">2011-10-23</div> 
			<div ntf-log-attr-page="12" class="notification-detail"> <a user="1" href="http://prizes.org/Windstills" logdata="event_type=notification_click&amp;notification_template_name=12">WindStills</a> is now following you. <span class="timeago">08:20:09 PM</span></div> 
		</div> 
		<div class="notification-feed"> 
			<div class="notification-date">2011-10-18</div> 
			<div ntf-log-attr-page="49" class="notification-detail"> You have received $100 Coupon. Use them soon! <span class="timeago">09:52:40 PM</span></div> 
			<div ntf-log-attr-page="49" class="notification-detail"> You have received $10 Coupon. Use them soon! <span class="timeago">09:52:40 PM</span></div> 
		</div> 
	</div>
	<div class="page-right"></div>
</div>