#dnd-dialog {
	padding-left: 16px;
	padding-right: 16px;
}

#dnd-filelist {
	margin-left: 0px;
	margin-top: 10px;
}

#dnd-filelist li {
	list-style: none;
	height: 25px;
}

#dnd-progressbar {
	margin-top: 10px;
	margin-bottom: 1px;
}

.dnd-filename {
	float: left;
	white-space:nowrap;
	overflow:hidden;
	width: 250px;
}

.dnd-filename :after {
	content: "...";
}

.dnd-filesize {
	float: right;
	font-weight: bold;
}
