/*
####################################################################
FEED STYLE (html templates in js/ce6/templates/feed.js)
#################################################################### */
.home-feed{
	padding: 10px;
	background-color: white;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	min-height: 90px;
}
.feed-bottom-line {
	border-bottom: 1px solid #ccc;
}
.feed-non-bottom-line {
	border-bottom: none !important;
}
.feed-bottom-shadow {
	border-top: 1px solid #ccc;
	width: 640px;
	height: 15px;
	background: url('/ce6/images/contest-detail-shadow.png') no-repeat top center transparent;
}
.feed-bottom-shadow-sm {
	border-top: 1px solid #ccc;
	width: 600px;
	height: 15px;
	background: url('/ce6/images/contest-detail-shadow2.png') no-repeat top center transparent;
}

.feed-badge{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 3px 3px -1px #aaa;
	-webkit-box-shadow: 0 3px 3px -1px #aaa;
	border-radius: 4px;
	float: left;
	text-align: center;
	width: 80px;
	display: block;
}
.feed-winner-badge{
	background: url("/ce6/images/badges.png") no-repeat scroll 0 0 transparent;
	float: left;
	width: 100px;
	height: 92px;
	margin-left: -87px;
	margin-top: 75px;
	display: block;
}
.feed-hm-badge{
	background: url("/ce6/images/badges.png") no-repeat scroll 0 -200px transparent;
	float: left;
	width: 100px;
	height: 92px;
	margin-left: -87px;
	margin-top: 75px;
	display: block;
}
.feed-jff-winner-badge{
	background: url("/ce6/images/badges.png") no-repeat scroll 0 -300px transparent;
	float: left;
	width: 100px;
	height: 92px;
	margin-left: -97px;
	margin-top: 90px;
	display: block;
}
.feed-jff-hm-badge{
	background: url("/ce6/images/badges.png") no-repeat scroll 0 -500px transparent;
	float: left;
	width: 100px;
	height: 92px;
	margin-left: -97px;
	margin-top: 90px;
	display: block;
}
.feed-user-icon{
	float: left;
	width: 80px;
	height: 80px;
	overflow: hidden;
	position: relative;
}
	.feed-user-icon img{
		height: 80px;
		position: relative;
	}
.badge-ended{
	background: url(/ce6/images/prizebage-gradient.png) left -160px; 
	min-height: 70px;
}
.badge-withinoneday{
	background: url(/ce6/images/prizebage-gradient.png) left -80px;
	min-height: 80px;
}
.badge-overoneday{
	background: url(/ce6/images/prizebage-gradient.png) left 0;
	min-height: 80px;
}
	
.feed-badge .prize{
	height: 30px;
	line-height: 30px;
	margin: 6px 6px 3px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	background-color: #FFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: black;
}
.feed-badge .time-left-cap{
	font-size: 12px;
	line-height: 16px;
}
.feed-badge .time-left{
	font-weight: bold;
	font-size: 16px;
}
.feed-badge .ended{
	font-size: 16px;
	font-weight: bold;
	color: #232323;
	text-shadow: 0 1px 0 white;
	margin-top: 5px
}
.feed-badge .small-font{
	font-size: 14px;
}
.badge-overoneday .time-left-cap,
.badge-overoneday .time-left{
	color: #944918;
	text-shadow: 0 1px 0 white;
}
.badge-withinoneday .time-left-cap,
.badge-withinoneday .time-left{
	color: white;
}
.jff-feed-badge {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float: left;
	text-align: center;
	width: 89px;
	height: 94px;
	display: block;
}
.jff-badge-ended{
	background: url(/ce6/images/jff-prize-badge-sm.png) left -199px;
}
.jff-badge-withinoneday{
	background: url(/ce6/images/jff-prize-badge-sm.png) left -99px;
}
.jff-badge-overoneday{
	background: url(/ce6/images/jff-prize-badge-sm.png) left -2px;
}
.jff-feed-badge .ended{
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	margin: 51px 12px 0 5px;
}
.jff-feed-badge .time-left{
	font-weight: bold;
	margin: 51px 12px 0 5px;
}
.jff-feed-badge .small-font{
	font-size: 13px;
}
.jff-feed-badge .normal-font{
	font-size: 16px;
}
.jff-badge-overoneday .time-left{
	color: #333333;
	text-shadow: 0 1px 0 white;
}
.jff-badge-withinoneday .time-left{
	color: #333333;
}
.contest-preview {
	margin-bottom: 5px;
}
.feed-body{
	margin: 0 1px 0 95px;
}
	.feed-body .contest-title{
		font-size: 17px;
		font-weight: bold;
	}
	.feed-body .contest-title:hover{
		text-decoration: underline;
	}
	.feed-body .gray{
		font-size: 12px;
		color: #333;
	}
	.feed-body .blue{
		font-size: 12px;
		color: #005DCE;
	}
	.feed-body .contest-follow{
		margin-left: 2px;
		margin-right: 5px;
	}
	.feed-body a.contest-follow:hover{
		color: #005DCE;
		text-decoration: underline;
	}
	.feed-body .contest-entries{
		margin-left: 2px;
	}
	.feed-body .img-container{
		float: left;
		margin-right: 10px;
		padding: 3px;
		border: 1px solid #ccc;
	}
	.feed-body .img-container:hover{
		border: 1px solid #aaa;
	}
		.img-container .border-overlay{
			/*border: 3px solid white;
			max-height: 100px;
			overflow: hidden;
			width: 200px;*/
		}
	.feed-body .contest-thumb{
		max-width: 200px;
		max-height: 100px;
	}
	.feed-body .contest-description-withthumb{
		font-size: 13px;
		line-height: 19px;
		width: auto;
		word-wrap: break-word;
		margin: 5px 0;
		max-height: 106px;
	}
	.feed-body .contest-description{
		font-size: 13px;
		line-height: 19px;
		width: 100%;
		word-wrap: break-word;
		margin: 5px 0;
		max-height: 60px;
	}
	.feed-body .followed-user-container{
		word-spacing: 0;
		width: 525px;
		margin-bottom: 8px;
	}
	.feed-body .followed-user-feed{
		background: url("/ce6/images/metal-gradient.png") repeat-x bottom #fff;
		margin-top: 5px;
		line-height: 25px;
		display: inline-block;
		width: 130px;
		padding: 5px;
		margin-right: 5px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border: 1px solid #ccc;
		border-radius: 4px 4px;
	}
	.feed-body .tag-block-color{
		background-color: #d9ebff;
		color: #005dce;
	}
	.feed-body .tag-block-color:hover{
		background-color: #005dce;
	}
	.feed-body .tag-block-color:hover a{
		color: white;
	}

	.feed-body .followed-tag-feed{
		margin-top: 5px;
		line-height: 25px;
		display: inline-block;
		padding: 5px;
		margin-right: 5px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px 4px;
	}
	.followed-tag-feed a{
		font-weight: bold;
		margin:0 5px;
	}
	.feed-body .tagged-as-block{
		line-height: 15px;
		display: inline-block;
		padding: 3px;
		margin-right: 3px;
		margin-top: 5px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px 2px;
	}
	.tagged-as-block a{
		margin:0 3px;
	}

	.feed-body .followed-user-feed:hover{
		-moz-box-shadow: 0 0 5px #aaa;
		-webkit-box-shadow: 0 0 5px #aaa;
		box-shadow: 0 0 5px #aaa;
		border-color: #aaa;
	}
	.feed-body .followed-tag-container{
		max-height: 80px;
		overflow: hidden;
		float: left;
		margin-bottom: 3px;
	}
	.followed-user-feed .profile-feed-user-simage img{
		margin: 0 5px 0 0;
	}
	.followed-user-feed .entry-user-name{
		width: 85px;
		max-width: 85px;
	}
.actor-area{
	border: 1px dotted #ddd;
	border-left: none;
	border-right: none;
	font-size: 13px;
	margin: 5px 0 0;
	padding: 5px 0px 5px 0px;
	width: 100%;
	float: left;
}
.feed-body .actor-area-tags{
	padding-top: 0px;
}
	.actor-area .timestamp{
		color: #aaa;
		float: right;
		font-size: 11px
	}
	.actor-area-tags .timestamp{
		margin-top: 6px;
	}
.in-title{
	background-color: transparent;
	border: none;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px
}
.actor-block{
	color: #333333;
	height: 18px;
	max-width: 150px;
	vertical-align: middle;
}
.actor-block:hover {
	color: #005dce;
}
.feed-actor-img img{
	height: 25px;
	margin-bottom: 0px;
	vertical-align: bottom;
}
.feed-actor-name{
	color: #333;
	line-height: 25px;
}
.feed-actor-name:hover{
	color: #005dce;
}
.actor-area-tags .action-words {
	margin-right: 5px;
}
.action-words{
	color: #909090;
	margin-left: 2px;
	vertical-align: middle;
}
.submission-area{
	margin-top: 5px;
}
	.submission-area .submission{
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid #ccc;
		padding: 5px 0 0;
		margin-top: 10px;
		float: left;
		width: 100%;
	}
	.submission-area .submission:hover {
		-moz-box-shadow: 0 0 5px #aaa;
		-webkit-box-shadow: 0 0 5px #aaa;
		box-shadow: 0 0 5px #aaa;
		border-color: #aaa;
		
	}
	.submission .submission-title-bar{
		width: 100%;
	}
	.submission .submission-owner{
		color: #333333;
		font-weigh100%t: bold;
		margin-left: 10px;
		line-height: 15px;
		float: left;
	}
	.submission .submission-owner:hover {
		color: #005dce;
	}
	.submission .submission-vote{
		float: right;
		margin-right: 10px;
	}
	.submission .entry-img-container{
		background-color: white;
		float: left;
		height: 50px;
		width: 11%;
		margin-right: 10px;
		padding: 3px;
		border: 1px solid #ccc;
	}
	.submission .entry-img-container:hover{
		border: 1px solid #aaa;
	}
		.entry-img-container .border-overlay{
			border: 3px solid white;
			height: 50px;
			width: 50px;
		}
		.submission .entry-img-container img{
			width: 50px;
			height: 50px;
		}
	.submission a .entry-submitted-row{
		float: left;
		width: 462px;
		color: #333;
	}
		.entry-submitted-row .preview-text{
			max-height: 40px;
		}
		.entry-submitted-row .preview-text-withthumb{
			max-height: 60px;
		}
		/*
		 * The following css is to workaround a firefox only issue
		 * it seems FF will <a> tag around the text body of preview-text
		 */
		.entry-submitted-row .preview-text a,
		.entry-submitted-row .preview-text-withthumb a{
			color: #333333;
		}
		.entry-submitted-row .preview-text a.see-more,
		.entry-submitted-row .preview-text-withthumb a.see-more{
			color: #005DCE;
		}
	.submission .verified {
		margin: 0 5px;
		float: left;
		top: -2px;
	}
	.actor-block .feed-actor-vrf{
		margin-left: -11px;
		margin-bottom: -8px;
	}
	.submission .submission-headline {
		line-height: 15px;
		float: left;
		color: #909090;
	}
.show-more{
	font-size: 11px;
}
.more-contest-feed{
	background-color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.empty-feed-container {
	background-color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	white-space: nowrap;
	color: #aaa;
	margin: 0px auto;
	text-align: center;
	padding: 10px;
}

.left-align{
	padding-left: 105px;
}

.ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.multiline {
	white-space: normal;
}
.feed-blind-badge {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background: url('/ce6/images/blind-icon.png') no-repeat 0 -30px #acacac;
	height: 23px;
	margin-top: 2px;
}
.feed-upgraded-badge {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background: url('/ce6/images/blind-icon.png') no-repeat 0 -90px #acacac;
	height: 23px;
	margin-top: 2px;
}
.feed-verified-only-badge {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	background: url('/ce6/images/blind-icon.png') no-repeat 0 -149px #acacac;
	height: 23px;
	margin-top: 2px;
}

a.contest-prize-badge, a.contest-prize-badge:hover {
	color: black;
}

.bind-contest-entry-description {
	color: gray;
	font-style: italic;
}
