/*
####################################################################
NOTIFICATION PAGE STYLE
#################################################################### */
.notification-feed .notification-detail .clickable-user,
.notification-feed .notification-detail .clickable-contest{ 
	color: #005dce;
	text-decoration:none;
	cursor: pointer;
}
.notification-feed .notification-detail .clickable-user:hover,
.notification-feed .notification-detail .clickable-contest:hover { 
	color: #016df1;
	text-decoration:none;
	cursor: pointer;
}
.empty-notification-container {
	padding-top: 10px;
	text-align: center;
	color: #AAAAAA;
	white-space: nowrap;
}
