/*
#################################################################### 
Setting page style
#################################################################### */
.setting-panel {
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-top: 0;
	padding: 0 20px;
	clear:both;
}
.setting-panel-del {
        background-color: #fff;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        margin-top: 0;
        padding: 0 20px;
	text-align: right;
}
.setting-panel-first {
	background-color: #fff;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding: 10px 20px 0;
}
.setting-connection {
        background-color: #fff;
        margin-top: 0;
}
.setting-user-info {
	line-height: 23px;
	padding-bottom: 10px;
	clear: both;
}
.setting-user-info button{
	padding: 8px 10px;
	min-width: 60px;
}
.setting-user-info .forgot {
	margin-left: 5px;
	float: none;	
}
.setting-userinfo-input {
	height: 24px;
	width: 280px;
}
.setting-item-line {
	padding: 10px 0 0;
	width: 100%;
	display: block;
}
.setting-item-line-side:first-child {
	padding: 0;
	width: 100%;
	display: block;
}
.setting-item-line-side {
	padding: 7px 0 0 0;
	width: 100%;
	display: block;
}
.setting-info-title {
	font-weight: bold;
	width: 30%;
	float: left;
}
.setting-info-title-side {
        font-weight: bold;
	font-size: 11px;
        width: 81px;
        float: left;
	margin-top: 7px;
}
#setting-fb {
	background: url("/ce6/images/facebook_logo_16x16.png") no-repeat;
	height: 16px;
	width: 16px;
	margin: -1px 5px 0 0;
	float: left;
}
#setting-tw {
	background: url("/ce6/images/twitter_logo_16x16.png") no-repeat;
	height: 16px;
	width: 16px;
	margin: -1px 5px 0 0;
	float: left;
}
.setting-info-content .followed-user-feed {
	margin-top: 5px;
	display: block;
	line-height: 25px;
	background: url("/ce6/images/metal-gradient.png") repeat-x scroll center bottom #fff;
	padding: 5px;
	margin-right: 5px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #ccc;
	border-radius: 4px 4px;
	box-sizing: border-box;
}
.setting-info-content-side .followed-user-feed {
        margin-top: 5px;
        display: block;
        line-height: 20px;
	background: url("/ce6/images/metal-gradient.png") repeat-x scroll center bottom #fff
;
        padding: 5px;
        -webkit-appearance: none;
        -webkit-box-sizing: border-box;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #ccc;
        border-radius: 4px 4px;
        box-sizing: border-box;
}
.setting-info-content .switch{
	cursor: pointer;
}
.setting-info-content .before-ready{
	color: black;
}
.setting-info-content .inline-block{
	display: inline-block;
}
.setting-btn-savepwd {
	display: inline-block;
}
#btn-setting-savepwd {
	display: inline-block;
}
#setting-fb-img {
	margin: 0 5px;
	float: left;
}
#setting-fb-img img {
	height: 20px;
	width: 20px;
}
#setting-tw-img {
	margin: 0 5px;
	float: left;
}
#setting-tw-img img {
	height: 20px;
	width: 20px;
}
.setting-connect-as {
	color: #2e2e2e;
	font-size: 11px;
	margin: 7px 0 5px 6px;
	
}
.setting-connect-area {
	background-color: #f5f5f5;
	margin-left: 81px;
	padding: 0;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #ccc;
}
.setting-connect-name {
	color: #333;
	font-weight: bold;
	font-size: 11px;
	display: block;
}
#connect-tw {
	-moz-box-shadow: 0 28px 20px -18px #eff5f7 inset;
	-webkit-box-shadow: 0 28px 20px -18px #eff5f7 inset;
	border: 1px solid #90cfe4;
	background: url(/ce6/images/gradient.png) repeat-x scroll 0 -280px #dceef3;
	display: block;
	height: 30px;
	margin: 0 auto;
	text-shadow: 0 1px 0 #ffffff;
	padding: 0;
	width: 184px;
}
#connect-tw:hover {
	background: url(/ce6/images/gradient.png) repeat-x scroll 0 -300px #dceef3;
}
.setting-info-content {
	padding: 0 0 10px 185px;
}
.setting-info-content-side {
	padding: 0;
}
#connect-fb {
	margin-left: 0px;
}
.fb-lg-setting {
	-moz-box-shadow: 0 28px 20px -18px #75a0d1 inset;
        -webkit-box-shadow: 0 28px 20px -18px #75a0d1 inset;
        border: 1px solid #456fa6;
        background: url(/ce6/images/gradient.png) repeat-x scroll 0 -100px #3f83b5;
        color: #2c2c2c;
        display: block;
        height: 30px;
        margin: 0 auto;
        text-shadow: 0 1px 0 #344F72;
        padding: 0;
        width: 184px;
}
.fb-lg-setting:hover {
	background-position: 0 -140px;
	border-color: #656565 #656565 #000;
	color: black;
}
.tw-lg-setting {
        -moz-box-shadow: 0 28px 20px -18px #75a0d1 inset;
        -webkit-box-shadow: 0 28px 20px -18px #75a0d1 inset;
        border: 1px solid #90cfe4;
        background: url(/ce6/images/gradient.png) repeat-x scroll 0 -280px #dceef3;
        color: #2c2c2c;
        display: block;
        height: 30px;
        margin: 0 auto;
        text-shadow: 0 1px 0 #344F72;
        padding: 0;
        width: 184px;
}

.fb-connect-setting {
	color: #fff;
        text-align: center;
        font-size: 11px;
        font-weight: bold;
        line-height: 28px;
}
.tw-connect-setting {
        color: #007993;
        text-align: center;
        font-size: 11px;
        font-weight: bold;
        line-height: 28px;
}
#connect-tw {
	margin-left: 0px;
}
.setting-disconnect {
	font-size: 11px;
	margin-top: 5px;
}
.setting-list {
	list-style: none;
	margin-left: 0px;
	width: 95%;
} 
.setting-list-row {
	padding-bottom: 5px;
}
.setting-list-row input{
	float:left;
	margin-top: 2px;
	width: 20px;
}
.setting-list-row label{
	float:left;
	line-height: 20px;
	padding-left:10px;
	width: 340px;
}
.setting-btn-container {
	padding: 15px 0 0 0;
	text-align: center;
}
.setting-btn-container .blue {
	padding: 10px 45px;
}
.invalid-hint{
	line-height: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 12px;
}
.connectedas-margin-left{
	clear: left;
	margin-left: 6px;
	margin-right: 6px;
}
#email-input {
	background-color: #FFFFFF;
	width: 210px;
	float: left;
}
#email-input[disabled]{
	border: 0;
}
#btn-save-email, #btn-cancel-email {
	margin-left: 10px;
}
#weak-pwd {
	color:#F2AA00;
}
.setting-bottom-shadow {
	border-top: 1px solid #CCC;
	width: 640px;
	height: 15px;
	background: url('/ce6/images/contest-detail-shadow.png') no-repeat top center transparent;
}

.del-account-unfold{
	padding-left: 0;
	font-size: 12px;
}
.dim{
	color: #bbb;
	text-decoration: underline;
}
.del-account .pwd-del-account{
	width: 200px;
}
#del-account-dlg{
	padding: 1em 1em 0;
}
#del-account-dlg #del-account-textarea{
	margin-top: 10px;
	width: 450px;
	height: 100px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.del-account .setting-user-info{
	height: 55px;
}
