/*
 * Verify box style
 */
#verify-box-header {
	background: url("/ce6/images/verify-header.png") no-repeat scroll 0 0 transparent;
	height: 38px;
	margin: 0 -2px;
}
#verify-box-footer {
	background: url("/ce6/images/verify-footer.png") no-repeat scroll 0 0 transparent;
	height: 77px;
	margin: -9px -2px 20px -2px;
}
.side-verify-items {
	border-radius: 0 0 4px 4px;
	appearance: none;
	-moz-border-radius: 0 0 4px 4px;
	-moz-appearance: none;
	-webkit-border-radius: 0 0 4px 4px;
	-webkit-appearance: none;
	line-height: 25px;
	clear: both;
	margin-top: -2px;
	outline: medium none;
	border-width: 0 1px 1px;
	border-color: #ccc;
	border-style: solid;
	padding-bottom: 2px;
}
.verify-item {
	text-transform: capitalize;
	height: 25px;
	padding: 10px;
	background: url("/ce6/images/disable-gradient.png") repeat-x scroll 0 0 transparent;
}
.verify-item.v {
	background: repeat-x scroll 0 0 #F2F6FB;
}
.verify-item-name {
	float: left;
}
.verified-divider {
	height: 1px;
	background: url("/ce6/images/verified-divider.png") no-repeat scroll 0 0 transparent;
}
.verify-item-icon {
	width: 25px;
	height: 23px;
	display: inline-block;
	margin: 2px 10px;
	float: left;
}
.verify-item-icon.email {
	background: url("/ce6/images/verified-icons.png") no-repeat scroll 0 -25px transparent;
}
.v .verify-item-icon.email {
	background: url("/ce6/images/verified-icons.png") no-repeat scroll 0 0 transparent;
}
.verify-item-icon.phone {
	background: url("/ce6/images/verified-icons.png") no-repeat scroll 0 -125px transparent;
}
.v .verify-item-icon.phone {
	background: url("/ce6/images/verified-icons.png") no-repeat scroll 0 -100px transparent;
}
.verify-item-icon.photo {
	background: url("/ce6/images/verified-icons.png") no-repeat scroll 0 -75px transparent;
}
.v .verify-item-icon.photo {
	background: url("/ce6/images/verified-icons.png") no-repeat scroll 0 -50px transparent;
}
.verified-right {
	background: url("/ce6/images/verified-icons.png") no-repeat scroll 0 -150px transparent;
	color: #478400;
	float: right;
	font-weight: bold;
	height: 20px;
	padding-left: 30px;
}
.verify-item button {
	float: right;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	line-height: 15px;
	padding: 3px 12px;
	background: url("/ce6/images/gradient.png") repeat-x scroll 0 -50px #77AA00;
	border: 1px solid #478400;
	text-shadow: 0 1px 0 #478400;
}
#verify-phone-dlg th,
#verify-phone-dlg td {
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 30px;
}
#verify-phone-dlg th {
	width: 125px;
}
#verify-phone-dlg td {
	width: 285px;
}
#verify-phone-dlg td button {
	padding: 8px;
	width: 140px;
	display: inline;
}
#verify-phone-dlg td input {
	width: 275px;
	height: 24px;
}
#verify-phone-code-row {
	border-top: 1px dotted #999;
}
.label {
	text-align: right;
	padding-right: 5px;
}
.verify-dlg-desc {
	font-size: 12px;
	line-height: 16px;
	margin-top: 5px;
}
.select-inner {
	border: 1px solid #B2B2B2;
	border-radius: 4px;
}
#country-input {
	position: absolute;
	background: url("/ce6/images/small-icon.png") no-repeat scroll 266px -41px transparent;
	z-index: 0;
}
#country-select {
	width: 289px;
	height: 33px;
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity=0);
}
.verify-desc-bold {
	font-weight: bold;
	line-height: 17px;
}
.user-photo-pre{
	float:left;
	width:128px;
	height:128px;
	padding:10px 0;
}
.user-photo-pre img{
	width:128px;
	height:128px;
}
#user-photo-loader{
	margin:30px auto;
	width:100px;
	height:28px;
}
.upload-desc-title{
	font-size:18px;
	font-weight:bold;
}
.upload-desc-limit{
	margin: 10px 0 20px;
}
.user-photo-form{
	padding: 10px 0 0 15px;
	float:left;
	font-size:12px;
	width:270px;
}
.user-photo-form form input{
	margin-bottom:5px;
	height:20px; 
	font-size: 8pt; 
	font-weight:bold;
}
