.w9form {
	margin:20px auto 5px;
	background: url("/ce6/images/w-9form-shadow.png") no-repeat scroll center bottom transparent;
	min-height: 150px; 
	padding-bottom: 14px;
	width: 800px;
}
.w9form-header{
	width: 760px;
	margin: 0;
	padding: 15px 19px 0;
	border: 1px solid #dcdcdc;
	border-bottom: none;
}
.w9form-header-title{
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	border-bottom: 1px solid #b2b2b2;;
	min-height: 10px;
	padding-bottom: 10px;
}
.w9form-content{
	width: 760px;
	margin: 0;
	padding: 10px 19px 0;
	border: 1px solid #dcdcdc;
	border-top: none;
	min-height: 100px;
}
.w9form-content ul{
	list-style-type:none; 
	margin:20px 10px 20px;
}
.w9form-content ul li{
	width:750px;
	clear:both;
	line-height: 25px;
}
.w9form-stepone-input{
	display: block;
	width: 30px;
	float: left;
	margin: 5px 0 0 0;
}
.w9form-stepone-desc{
	display: block;
	width: 700px;
	float: right;
}
.w9form-content p{
	display: block;
	padding: 0 0 0 25px;
}
#btn-w9form-cancel{
	margin-right: 10px;
}
.w9form-distance{
	padding:0 0 10px;
	clear:both;
}

.w9form-tips{
	text-align:center;
	color: #999999;
	font-size: 12px;
}
.w9form-tips-csp{
	color: #999999;
	font-size: 12px;
	line-height: 16px;
	margin: 5px 0 0 10px;
}
.line-height{
	line-height: 40px;
}
.w9form-subject{
	margin: 10px 0 3px;
	font-weight: bold;
}
.blueblock{
	background-color:#dddddd;
	width:750px;
	padding:5px 5px;
	margin:20px 0 10px;
}
.w9form-input{
	height:30px;
}
.w9form-ssn-eid-err{
	padding:35px 0 0 10px;
	width:285px;
}
.full{
	width:748px;
}
.half{
	width:350px;
}
.quarter{
	width:186px;
}
.third{
	width: 245px;
}
.third2{
	width:500px;
}
.gap-div{
	text-align:center;
	padding:15px 12px;
	height:20px;
	line-height:20px;
}
#w9form-or {
	margin: 25px 0 10px;
}
.w9form-signature-tip{
	font-size: 12px;
	line-height: 16px;
	margin: 0 0 0 345px;
}
.w9form-buttons{
	text-align:center;
	height:35px;
	padding:0 0 30px 0;
}
.w9form-ssn-eid-err .error-msg{	
	display: block;
	line-height: 16px;
}
.w9form-buttons .blue{
	display: inline;
	padding: 6px 15px;
}
.w9form-buttons .blue.hidden{
	display: none;
}

.w9form-buttons .lightgray{
	display: inline;
	padding: 6px 15px;
}
