<!DOCTYPE html>
<html>
<head>
  <title>Toystory</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="page">
			<div id="top">
				<div id="header">
					<div id="header-bg"></div>
					<div id="header-shadow"></div>
					<div id="header-content">
						<div class="header-left">
							<div id="top-nav">
								<ul>
									<li class="active">
										<a id="nav-home" href="">首页</a>
									</li>
									<li>
										<a id="nav-profile" href="">个人主页</a>
									</li>
									<li>
										<a id="nav-create-contest" href="/contests/new">创建竞赛</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="header-right">
							
						</div>
					</div>
				</div>
			</div>
			<div id="page-layout">
				<div id="page-container" class="clearfix">
          <%= yield%>
        </div>
      </div>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8">
  		var IS_SUSPENDED = 0;
	</script>
</body>
</html>
