<!DOCTYPE html>
<html>
<head>
  <title>Toystory</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="page">
			<div id="page-layout">
				<div id="page-container" class="clearfix">
          <%= yield%>
        </div>
      </div>
		</div>
	</div>
	<script type="text/javascript" charset="utf-8">
  		var IS_SUSPENDED = 0;
	</script>
</body>
</html>
